.box{
    border: 2px solid grey;
    width:35%;
    margin: auto;
    background:linear-gradient(to right,white,purple,white);
    box-shadow: 2px 2px 4px 3px grey;
    border-radius: 20px;
    padding: 3%;
    margin-top: 5%;
}
