
.App {
  text-align: center;
 

}





.App-header {
  padding-top: 45px;
  background-image: url('./assets/img5.jpg');
  background-size: cover;
  /* background:linear-gradient(to right bottom,pink,blue,white ); */
   min-height: 100vh;
 
}

